.dark-medium-contrast {
  --md-sys-color-primary: rgb(225 219 212);
  --md-sys-color-surface-tint: rgb(203 198 191);
  --md-sys-color-on-primary: rgb(39 37 33);
  --md-sys-color-primary-container: rgb(195 190 183);
  --md-sys-color-on-primary-container: rgb(51 48 44);
  --md-sys-color-secondary: rgb(225 221 199);
  --md-sys-color-on-secondary: rgb(39 38 24);
  --md-sys-color-secondary-container: rgb(148 145 126);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(237 218 186);
  --md-sys-color-on-tertiary: rgb(46 36 15);
  --md-sys-color-tertiary-container: rgb(158 143 114);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 201);
  --md-sys-color-on-error: rgb(76 16 4);
  --md-sys-color-error-container: rgb(212 119 99);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(20 19 19);
  --md-sys-color-on-background: rgb(230 226 224);
  --md-sys-color-surface: rgb(20 19 18);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(72 71 63);
  --md-sys-color-on-surface-variant: rgb(224 220 209);
  --md-sys-color-outline: rgb(181 178 168);
  --md-sys-color-outline-variant: rgb(147 144 135);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(230 226 223);
  --md-sys-color-inverse-on-surface: rgb(43 42 41);
  --md-sys-color-inverse-primary: rgb(74 72 66);
  --md-sys-color-primary-fixed: rgb(231 226 218);
  --md-sys-color-on-primary-fixed: rgb(19 17 13);
  --md-sys-color-primary-fixed-dim: rgb(203 198 191);
  --md-sys-color-on-primary-fixed-variant: rgb(56 54 49);
  --md-sys-color-secondary-fixed: rgb(231 227 205);
  --md-sys-color-on-secondary-fixed: rgb(19 18 5);
  --md-sys-color-secondary-fixed-dim: rgb(203 199 177);
  --md-sys-color-on-secondary-fixed-variant: rgb(56 55 39);
  --md-sys-color-tertiary-fixed: rgb(243 224 191);
  --md-sys-color-on-tertiary-fixed: rgb(24 16 1);
  --md-sys-color-tertiary-fixed-dim: rgb(214 196 165);
  --md-sys-color-on-tertiary-fixed-variant: rgb(64 53 30);
  --md-sys-color-surface-dim: rgb(20 19 18);
  --md-sys-color-surface-bright: rgb(69 68 67);
  --md-sys-color-surface-container-lowest: rgb(8 7 7);
  --md-sys-color-surface-container-low: rgb(30 29 28);
  --md-sys-color-surface-container: rgb(41 40 38);
  --md-sys-color-surface-container-high: rgb(51 50 49);
  --md-sys-color-surface-container-highest: rgb(63 61 60);
  --md-extended-color-custom-color1-color: rgb(206 222 240);
  --md-extended-color-custom-color1-on-color: rgb(23 39 53);
  --md-extended-color-custom-color1-color-container: rgb(130 146 163);
  --md-extended-color-custom-color1-on-color-container: rgb(0 0 0);
}
