.light {
  --md-sys-color-primary: rgb(97 94 88);
  --md-sys-color-surface-tint: rgb(97 94 88);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(195 190 183);
  --md-sys-color-on-primary-container: rgb(80 77 71);
  --md-sys-color-secondary: rgb(95 92 75);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(120 117 99);
  --md-sys-color-on-secondary-container: rgb(255 251 255);
  --md-sys-color-tertiary: rgb(43 34 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(66 55 32);
  --md-sys-color-on-tertiary-container: rgb(176 160 130);
  --md-sys-color-error: rgb(102 35 21);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(132 57 41);
  --md-sys-color-on-error-container: rgb(255 174 157);
  --md-sys-color-background: rgb(253 248 247);
  --md-sys-color-on-background: rgb(28 27 27);
  --md-sys-color-surface: rgb(253 248 246);
  --md-sys-color-on-surface: rgb(28 27 26);
  --md-sys-color-surface-variant: rgb(230 226 216);
  --md-sys-color-on-surface-variant: rgb(72 71 63);
  --md-sys-color-outline: rgb(121 119 110);
  --md-sys-color-outline-variant: rgb(202 198 188);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 47);
  --md-sys-color-inverse-on-surface: rgb(244 240 238);
  --md-sys-color-inverse-primary: rgb(203 198 191);
  --md-sys-color-primary-fixed: rgb(231 226 218);
  --md-sys-color-on-primary-fixed: rgb(29 27 23);
  --md-sys-color-primary-fixed-dim: rgb(203 198 191);
  --md-sys-color-on-primary-fixed-variant: rgb(73 70 65);
  --md-sys-color-secondary-fixed: rgb(231 227 205);
  --md-sys-color-on-secondary-fixed: rgb(29 28 14);
  --md-sys-color-secondary-fixed-dim: rgb(203 199 177);
  --md-sys-color-on-secondary-fixed-variant: rgb(73 71 55);
  --md-sys-color-tertiary-fixed: rgb(243 224 191);
  --md-sys-color-on-tertiary-fixed: rgb(35 26 6);
  --md-sys-color-tertiary-fixed-dim: rgb(214 196 165);
  --md-sys-color-on-tertiary-fixed-variant: rgb(81 69 45);
  --md-sys-color-surface-dim: rgb(221 217 215);
  --md-sys-color-surface-bright: rgb(253 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(247 243 240);
  --md-sys-color-surface-container: rgb(241 237 235);
  --md-sys-color-surface-container-high: rgb(235 231 229);
  --md-sys-color-surface-container-highest: rgb(230 226 223);
  --md-extended-color-custom-color1-color: rgb(78 94 109);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(102 118 134);
  --md-extended-color-custom-color1-on-color-container: rgb(253 252 255);
}
