.light-high-contrast {
  --md-sys-color-primary: rgb(46 44 39);
  --md-sys-color-surface-tint: rgb(97 94 88);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(76 73 67);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(46 45 30);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(76 74 57);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(43 34 12);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(66 55 32);
  --md-sys-color-on-tertiary-container: rgb(255 248 242);
  --md-sys-color-error: rgb(85 22 9);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(123 50 35);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(253 248 247);
  --md-sys-color-on-background: rgb(28 27 27);
  --md-sys-color-surface: rgb(253 248 246);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(230 226 216);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(45 44 37);
  --md-sys-color-outline-variant: rgb(75 73 65);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(49 48 47);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(203 198 191);
  --md-sys-color-primary-fixed: rgb(76 73 67);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(53 50 45);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(76 74 57);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(53 51 36);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(84 72 47);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(60 49 27);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(187 184 182);
  --md-sys-color-surface-bright: rgb(253 248 246);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(244 240 238);
  --md-sys-color-surface-container: rgb(230 226 223);
  --md-sys-color-surface-container-high: rgb(215 212 209);
  --md-sys-color-surface-container-highest: rgb(201 198 196);
  --md-extended-color-custom-color1-color: rgb(30 46 59);
  --md-extended-color-custom-color1-on-color: rgb(255 255 255);
  --md-extended-color-custom-color1-color-container: rgb(59 75 89);
  --md-extended-color-custom-color1-on-color-container: rgb(255 255 255);
}
